* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        padding: 59px;
        color: white;
        background-color: black;
        padding-left: 120px;
      }

      p {
        font-weight: bold;
      }

      a{
        text-decoration: none;
      }

      .cont-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: orange;
        padding: 5px 90px;
        background-color: rgb(68, 66, 66);

        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        height: 59px;
        z-index: 100;
      }

      .cont-1 img {
        height: 40px;
      }

      .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 51px;
        background-color: rgb(68, 66, 66);
        width: 71px;
        z-index: 150px;
        padding-top: 5px;
        border-right: 2px solid orange;
      }

      .sidebar-link {
        background-color: rgb(68, 66, 66);
        height: 123px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
      }

      .sidebar-link:hover {
        background-color: rgb(134, 131, 131);
      }

      .sidebar-link img {
        height: 32px;
        margin-bottom: 8px;
      }

      .sidebar-link img:hover {
       background-color:rgb(134, 131, 131) ;
      }



      .sidebar-link div {
        font-weight: bold;
        font-size: 13px;
        color: white;
      }

      .cont-2 {
        font-size: 30px;
        text-align: center;
        background-color: black;
        border-top: 2px solid orange;
        border-bottom: 2px solid orange;
        color: orange;

        position: fixed;
        right: 0;
        left: 71px;
        height: 40px;
        z-index: 110;
      }

      .cont-3,
      .cont-4,
      .cont-5,
      .cont-6 {
        width: 100%;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 60px;
        column-gap: 30px;
        row-gap: 30px;
      }

      .cont-3i img,
      .cont-4i img,
      .cont-5i img,
      .cont-6i img {
        width: 100%;
        height: 190px;
        border-radius: 20px;
      }

      .text-sec p {
        text-align: center;
        color: orange;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 11px;
      }

      .center-button {
        display: block;
        margin: 0 auto;
        padding: 5px 15px;
        font-weight: bold;
        gap: 8px;
        border-radius: 12px;
        border: none;
        color: orange;
        background-image: linear-gradient(
          to right,
          rgb(117, 115, 115),
          rgb(61, 59, 59)
        );
      }

      .cart-container {
  position: relative;
  cursor: pointer;
}

#cart-count {
  position: absolute;
  top: -1px;
  right: -6px;
  background-color: orange;
  color: rgb(68, 66, 66);
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.cart-dropdown {
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background: black;
  box-shadow: -3px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  overflow-y: auto;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 40px;
}

.cart-dropdown.active {
  right: 0;
}

#pay-btn {
  background: green;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 10px;
}

#confirm-payment {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 10px;
}
