* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SIDEBAR */
.admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background: rgb(68, 66, 66);
  border-right: 3px solid orange;
  padding: 20px;
  color: white;
}

.admin-sidebar h2 {
  color: orange;
  text-align: center;
  margin-bottom: 30px;
}

.admin-link {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.admin-link:hover {
  background: rgb(100, 100, 100);
}

/* MAIN */
.admin-main {
  margin-left: 200px;
  padding: 20px;
  background: #111;
  min-height: 100vh;
  color: white;
}

.admin-main h1 {
  color: orange;
  margin-bottom: 20px;
}

/* SECTIONS */
.admin-section {
  display: block;
}

.hidden {
  display: none;
}

/* CARDS */
.admin-card {
  background: #111;
  border: 1px solid orange;
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  margin-bottom: 20px;
}

/* PRODUCT GRID */
#admin-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

#admin-product-grid div {
  border: 1px solid orange;
  padding: 10px;
  border-radius: 10px;
  background: #111;
}

/* FORM */
form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid orange;
  background: black;
  color: white;
}

button {
  padding: 10px;
  background: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* LOGOUT BUTTON */
.admin-link.logout {
  background-color: #b00020;
  color: white;
  font-weight: bold;
}

.admin-link.logout:hover {
  background-color: #ff2f2f;
}
